<div class="home__container">
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
		></app-card>

	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
		></app-card>

	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="DELUXE"
		gameType="DISC | PS3"
		gamePrice="R$ 182,99"
		></app-card>

	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="LANÇAMENTO"
		gameType="DISC | PS5"
		gamePrice="R$ 499,99"
		></app-card>
</div>
